##################################
#           PRODUCTION           #
##################################

##### System #####

setuptools
python-dotenv

##### PARSER #####
# dateparser
# python-slugify
# markdown
